html {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    min-width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    box-sizing: border-box;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    background-image: url(images/matrix.jpg);
    background-size: 350px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: whitesmoke;
    font-size: 2.5rem;
}

.supergrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_btn {
    color: white;
    background-color: forestgreen;
    padding: 1rem;
    margin: 2rem;
    width: 40vw;
    border-radius: 8px;
    font-size: 1.8rem;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.add_btn:hover {
    background-color: #2cb42c;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
}

.add_btn:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.products h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 2rem;
}

.container {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 3rem;
    padding: 1rem;
}

.card {
    background-image: url(images/fire.jpg);
    background-size: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 100%;
    min-height: 250px;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 2rem;
    color: white;
}

.card:hover{
    transform: scale(1.05);
}

.card_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 2rem;
}

.card-container-info {
    flex-grow: 1;
    padding-top: 2rem;
}

.card-container-value {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.delete-button {
    background: none;
    border: none;
    width: 3rem;
    height: 3rem;
}

.delete-button:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.delete-button:active {
    cursor: pointer;
    transform: scale(0.90);
}

.delete_img {
    object-fit: cover;
}


/* FORMULARIO */

.inicio_btn {
    color: white;
    background-color: forestgreen;
    padding: 1rem;
    margin: 2rem;
    width: 10vw;
    border-radius: 8px;
    font-size:1.8rem;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.inicio_btn:hover {
    background-color: #2cb42c;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
}

.inicio_btn:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.add {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
}

.add h1 {
    font-size: 3rem;
    padding: 2rem;
}

.formulario {
    width: 60%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 300px;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

input {
    width: 90%;
    height: 2rem;
    border-radius: 2rem;
}

.form-button {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 40%;
    padding: 1rem;

}

/* FOOTER */
footer {
    background-image: url(images/matrix.jpg);
    background-size: 350px;
    color: whitesmoke;
    margin-top: 100vh;
}

.minifooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.footer_logo {
    width: 3rem;
    height: 3rem;
}

p {
    text-align: center;
    margin-top: 0;
}

/* MEDIA QUERIES*/

@media (width <=768px) {

    .header {
        background-size: 250px;
        gap: 1rem;
        text-align: center;
    }

    .header_title {
        font-size: 3.5rem;
    }


    .logo {
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        margin: 1rem;
    }

    .products h1, .add h1 {
        font-size: 2.6rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        min-width: 200px;
        width: 400px;
    }

    .add_btn, .inicio_btn{
        width: 30vw;
        font-size: 1.3rem;
    }

    .add_btn:hover, .inicio_btn:hover {
        font-size: 1.5rem;
    }
}